@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #e8e8e8;
  overflow-y: auto;
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
  color: #333;
  line-height: 20px;

  &::-webkit-scrollbar {
    width: 0.8rem;
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #00000088;
    border-radius: 10px;
  }
}
